<div class="container">
  <% if @character %>
    <img src= <%= @character['img']%> >
    <h2><%= @character['name'] %></h2>
    <h3><i class="fas fa-briefcase"></i> Ocupaciones:</h3>
    <% if @character['occupation'].length() > 0 %>
      <% @character['occupation'].each do |ocup| %>
        <p><%= ocup %></p>
      <% end %>
    <% else %>
      </p>No se registran occupaciones para este personaje</p>
    <% end %>
    <p><i class="fas fa-user-check"></i> Estado: <%= @character['status'] %></p>
    <p><i class="fas fa-file-signature"></i> Apodo: <%= @character['nickname'] %></p>
    <p><i class="fas fa-film"></i> Interpretado por: <%= @character['portrayed'] %></p>
    <% if @character['category'] == "Breaking Bad" %>
      <a href="/breaking"><p>Serie de origen: Breaking Bad</p></a>

    <% else %>
      <a href="/better"><p>Serie de origen: Better Call Saul</p></a>
    <% end %>
    <h3><i class="fas fa-tv"></i> Temporadas de Breaking Bad en las que aparece</h3>
    <% if @character['appearance'].length() > 0 %>
      <% @character['appearance'].each do |ap| %>
        <a href="/breaking/<%= ap %>"><p>Temporada - <%= ap %></p></a>
      <%end%>
    <% else %>
      <p>Este personaje no ha aparecido en Breaking Bad </p>
    <% end %>
    <h3><i class="fas fa-tv"></i> Temporadas de Better Call Saul en las que aparece</p>
    <% if @character['better_call_saul_appearance'].length() > 0 %>
      <%  @character['better_call_saul_appearance'].each do |ap| %>
        <a href="/better/<%= ap %>"><p>Temporada - <%= ap %></p></a>
      <%end%>
    <% else %>
      <p>Este personaje no ha aparecido en Better Call Saul</p>
    <% end %>

    <% if @quotes.length() > 0 %>
      <h3><i class="fas fa-quote-right"></i> Frases:</h3>
      <% @quotes.each do |quote| %>
        <p><%= quote['quote'] %></p>
      <% end %>
    <% else %>
      <p>No se registran frases de este personaje</p>
    <% end %>
  <% else %>
    <p>Este personaje no está disponible</p>
  <% end %> 
  
</div>